<%= form_with(model: user, class: "contents") do |form| %>
 <%= render 'shared/errors', obj: user %>

  <div class="my-5">
    <%= form.label :username %>
    <%= form.text_field :username, placeholder: "Username", class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": user.errors[:username].none?, "border-red-400 focus:outline-red-600": user.errors[:username].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.email_field :email, placeholder: "Email", class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": user.errors[:username].none?, "border-red-400 focus:outline-red-600": user.errors[:username].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :password %>
    <%= form.password_field :password, placeholder: "Choose password", class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": user.errors[:username].none?, "border-red-400 focus:outline-red-600": user.errors[:username].any?}] %>
  </div>
  <div class="inline">
    <%= form.submit(user.new_record? ? "Sign up": "Update account", class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer") %>
  </div>
<% end %>
